JWT_SECRET=
JWT_EXPIRES_IN=
API_PORT=
DATABASE_URL=""

#cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

#envio de email (sendbox) no desenvolvimento obs: depois trocar para produção (usando o API/SMTP)
MAILTRAP_HOST=
MAILTRAP_PORT=
MAILTRAP_USER=
MAILTRAP_PASS=

#para desenvolvimento
NODE_ENV=development